<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title> Welcome </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<!-- Header -->
		<header id="header">
			<div class="logoStyle">
				<h1 id="logo"><a href="/"> <img class="love" src="images/pic01.jpg" alt=""> </a></h1>
			</div>

			<% if (areServicesNeeded){ %>
			<div class="alertt">
				<h3 class="chatNow"> go talk</h3>
			</div>
			<% } else { %>
			<div class="noAlertt">
				<h3 class="chatNow">no one to talk to</h3>
			</div>
			<%	} %>
			<nav id="nav">
				<ul>
				
					<li><a href="/left-sidebar"> About Fluency</a></li>
					<li><a href="/right-sidebar"> What to Expect</a></li>
					<li><a href="/profile" class="button primary">My Profile </a></li>
					<li><a href="/logout" class="button primary">Log Out</a></li>

				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main" class="wrapper style1">
			<h2 class="userPage"> User Profile</h2>
			<div class="container containerWelcome">
				<section class="half">

					<div class="profilePic">
						<img class="pictureProfile" src="images/picture.jpg" alt="profile picture">
					</div>
					<section>

						<ul class="message">
							<% for(var i=0; i< user.length; i++) {%>
							<li class="message">
								<span><%= picture[i].name %></span>
								<img src="<%= picture[i].img %>" alt="profile picture">

								<span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
							</li>
							<% } %>
						</ul>
						<% if (user.local.email) { %>
						<form action="/picture" method="POST" enctype='multipart/form-data'>
							<h3 type="text" value="" name="name"> <%= user.local.email %> </h3>
							<span>change profile picture</span>
							<input type="file" placeholder="" name="file">
							<button class="addPic" type="submit" value="Upload"> Add </button>
						</form>
					</section>
					<div class="profileQuote">

					</div>
				</section>
			</div>
			<div class="container ">

				<section class="containerLanguage">
					<section class="containerLanguage2">

						<h3 class="myLang2">My Languages</h3>
						<ul>
							<% for(var i=0; i<userProfile.languages.length; i++) {%>

							<li class="message majors">
								<ul>


									<li><span class="stats">Language: <%= userProfile.languages[i].language %></span></li>
									<li><span class="stats">Teach or Learn: <%= userProfile.languages[i].teachOrLearn %></span></li>

									<li> <span class="stats">Fluency: <%= userProfile.languages[i].fluency %> /30</span> </li>
									<li><span><i class="fa fa-trash" aria-hidden="true"></i></span> </li>

									<% if (found && userProfile.languages[i].language === found.language && userProfile.languages[i].teachOrLearn === "teach" ){ %>
									<li>
										<form class="startChat" action="/videoChat/<%=found._id%>" method="get">
											<button id="<%= userProfile.languages[i].language %>" class="connectToChat" type="submit" name="button"> Connect with <span> <%= found.fromUser %> </span> to practice <span> <%= userProfile.languages[i].language %></span>
											</button>
										</form>
										<li> <span class="pendingK">Request to teach Pending</span> </li>
									</li>

									<%} else if (userProfile.languages[i].teachOrLearn === "learn"){

									let myRequest = myRequests.find(request => request.language === userProfile.languages[i].language && request.fromUser === userProfile.email && request.status === 'waiting' )
									console.log('looking for student request', myRequest, myRequests, userProfile.languages[i].language )
									if (myRequest){ %>
									<li>
										<form class="startChat" action="/videoChat/<%=myRequest._id%>" method="get">
											<button id="<%= userProfile.languages[i].language %>" class="connectToChat" type="submit" name="button"> Wait for Teacher to practice <span> <%= userProfile.languages[i].language %></span> </button>
										</form>
									</li>
									<%	}%>

									<li>
										<form class="searchChat">

											<button id="<%= userProfile.languages[i].language %>" class="connectToChat" type="submit" name="button"> Request to chat in <span> <%= userProfile.languages[i].language %></span> </button>
										</form>
									</li>
									<%}%>
							</ul>
							</li>
							<% } %>

								</ul>
					</section>
					<% } %>
				</section>

			</div>
			<section class="addLanguage2">
				<button class="addTo button primary" type="button" name="button"> <a class="addTo" href="/assessment"> Add Language to Profile</a>
				</button>

				<div class="books">
					<img src="images/add.png" alt="">
				</div>
			</section>

		</div>
		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</footer>


		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="main.js"></script>


</body>

</html>
